@font-face {
    font-family: "Orbitron";
    src: url(fonte/Orbitron-VariableFont_wght.ttf);

    font-family: "Teko";
    src: url(fonte/Teko-VariableFont_wght.ttf);

}

:root {

    --Azul-gametiz: #192773;

    --Ciano-gametiz: #439BE3;
}

/* Reset CSS */
* {

    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}




.container-grid-banner {
    color: white;
    font-family: "Orbitron";
    color: white;

}

header {
    height: 165px;
}


.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-image: url(img/img.gametiz\ fundo\ azul.jpg);
    height: 800px;

}

.menu {
    height: 100%;
    display: flex;

    justify-content: space-between;
    align-items: center;

    font-family: "ORBITRON";

    background-color: white;
}

.menu a {
    text-decoration: none;
    font-size: 1.2em;
    color: var(--Azul-gametiz);
}


.banner {
    font-size: "Orbiton";
    font-size: 50px;
}


.fundo {
    margin-left: 35%;
}

#sobre {
    margin-top: 50px;

}

#sobre h2 {
    font-family: "Orbitron";
    font-size: 40px;

    display: flex;
    justify-content: center;
    color: #192773;

}

#sobre p {
    font-family: "Teko";
    text-align: center;
    font-size: 25px;
    padding: 20px 25%;


    display: flex;
    justify-content: center;
    color: black;
}

.container-grid-cases {
    margin-top: 50px;
}

.container-grid-cases h2 {
    font-family: "Orbitron";
    font-size: 40px;

    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    color: #192773;

}

.card button {
    font-size: 15px;
    font-family: "Arial";
    font-style: Black;

    margin: 0px;
    margin-bottom: 80px;
    align-items: center;
    display: inline;

    background-color: #192773;
    color: white;
    padding: 10px;
    border-radius: 50px;

}

.container-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;

}

.card {
    height: 400px;
    width: 300px;
    display: grid;


    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 30px;
    margin-bottom: 30px;

    border-radius: 30px;

    background-color: white;
    box-shadow: 0px 0px 3px 0px
}



h2 {
    font-family: "Orbitron";
    text-align: center;
    margin-top: 100px;
    margin: 60px;
    font-size: 40px;
    color: #192773;
    flex-direction: column;

    justify-content: center;
}


.pessoas {
    background-image: url(img/pessoas\ feliz.png);
    height: 25vh;
    margin: 40px 0;
}

.secao-card {

    display: flex;
    justify-content: space-between;
    gap: 80px;

    text-align: center;

}

.agendamento {

    text-align: center;

    background-color: #192773;

}



.nome label {

    text-align: left;
    text-transform: uppercase;
    font-family: "Arial";
    
    display: flex;
    justify-content: left;
    font-style: var(--Azul-gametiz);

}




.telefone label {
    text-align: left;
    text-transform: uppercase;
    font-family: "Arial";
    display: flex;
    justify-content: left;
    font-size: var(--Azul-gametiz);
}

.email label {
    text-align: left;
    text-transform: uppercase;
    font-family: "Arial";
    display: flex;
    justify-content: left;
    font-size: var(--Azul-gametiz);
}

.descreva label {
    text-align: left;
    font-family: "Arial";
    text-transform: uppercase;
    display: flex;
    justify-content: left;
   font-size: var(--Azul-gametiz);
}

button {
    
    background-color: #192773;
    font-family: Arial;
    font-style: black;
    color: white;
    padding: 10px;
    border-radius: 50px;
    text-transform: uppercase;
    margin-top: 20px;

}

.formulario {
    width: 60%;

    margin: 0 auto;
    padding: 60px 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 80px;
    box-shadow: 5px 5px 10px 0px rgba(25, 39, 115);
}

.formulario input {
    font-family: "Arial";
    font-size: 20px;

    
    border-radius: 10px;
    border-color: #439BE3;
    column-rule-color: #439BE3;

    text-align: center;
    margin: 10px;
    margin-top: 5px;
}

.formulario label {
    color: #192773;
}

.planos-valores {
    background-image: url(img/264881-guest-post-o-que-e-gamificacao-e-como-aplicar-na-sua-empresa\ 1.png);
    height: 25vh;
    margin: 50px 0;


}
.button-planos{
    justify-content: center;
    align-items: center;
}

.card p {
    font-family: "Teko";
    font-size: 20px;
    flex-direction: column;
}






.duvidas{
    background-image: url(img/Dojo-2.png);
    height: 35vh;
    margin: 50px 0;
    
    
    
    
}



.card{
   
    margin-top: 50px;
    
    
}

.faq-1{
    justify-items: left;
    display:flex ;
    height: 200px;
    width: 1500px;
    


}

.img-faq{
    justify-items: center;
    display: flex;
}

.faq-2{
    justify-items: left;
    display: flex;
    height: 200px;
    
}

.card-primeiro {
    height: 200px;
    width: 400px;
    display: flex;
    font-family: "Teko";

    justify-content: center;
    align-items: center;

    padding-bottom: 30px;
    margin-bottom: 30px;

    border-radius: 30px;

    background-color: white;
    box-shadow: 0px 0px 3px 0px
}

.card-segundo {
    height: 200px;
    width: 400px;
    display: flex;
    font-family: "Teko";

    justify-content: center;
    align-items: center;

  
    border-radius: 30px;

    background-color: white;
    box-shadow: 0px 0px 3px 0px
}
.card-terceiro {
    height: 200px;
    width: 400px;
    display: flex;
    font-family: "Teko";

    justify-content: center;
    align-items: center;


    border-radius: 30px;

    background-color: white;
    box-shadow: 0px 0px 3px 0px
}
.card-quarto {
    height: 200px;
    width: 400px;
    display: flex;
    font-family: "Teko";

    justify-content: center;
    align-items: center;

    

    border-radius: 30px;

    background-color: white;
    box-shadow: 0px 0px 3px 0px
}



.contato{
    background-image: url(img/Rectangle\ 19.png);
    height: 60vh;
    margin: 10x 0;

    display: flex;
    align-items: center;
    justify-content: center;
   
    
    
}

.google{
    margin: 0px;
    
   

}

.apple{
    margin: 0px;
    
    align-items: left;
    justify-content: left;
}

@media screen and (max-width: 1300px) {
            
 }